target/
*.class
*.jar
*.war
.idea/
.metadata/
.eclipse/
.settings/
.classpath
.project
*.iml
.sts4-cache/
.env
*.env
node_modules/
dist/
build/
medibook-ui/node_modules/
medibook-ui/dist/
**/src/main/resources/application.properties
**/src/main/resources/application.yml